@keyframes TitleAnimation {
  0% {
    transform: rotateX(90deg) scaleY(0);
    color: $color-black;
  }
  100% {
    transform: rotateX(0) scaleY(1);
    color: $color-primary;
  }
}

.title-animation {
  animation-name: TitleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  transform-origin: center;
}
