@keyframes TitleAnimation {
  0%,
  100% {
    background-color: $color-primary;
    color: $color-black;
  }
  50% {
    background-color: $color-primary;
    color: $color-primary;
  }
}

.title-animation {
  animation-name: TitleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
