.board {
  border: 5px solid $color-primary;
  padding: 50px;
  display: grid;
  height: 60vh;
  gap: 50px;

  // each box is 200px by 200px
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto auto auto;

  //  Change  values 👇  to experiment
  align-content: center;
}
