$grid-col-size: calc(10px + 6vmin);

.board {
  display: grid;
  gap: 20px;
  max-height: 60vh;
  max-width: 95vw;

  // each box is 200px by 200px
  grid-template-columns: $grid-col-size $grid-col-size $grid-col-size $grid-col-size $grid-col-size $grid-col-size;

  //  Change  values 👇  to experiment
  align-content: center;
}
