.btn {
  background-color: $color-primary;
  outline: none;
  border: none;
  border-radius: 30px;
  color: $color-black;
  font-size: $font-size-normal;
  font-family: $font-family;
  padding: $padding-default;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 400ms ease;
  text-transform: uppercase;
  width: max-content;
  position: relative;

  &::after {
    content: "";
    border-radius: 30px;
    @include OverlayLayer();
  }

  &::before {
    content: "";
    border-radius: 30px;
    @include OverlayLayer();
  }

  &:hover {
    background: $color-black;
    color: $color-primary;
    transition: all 500ms ease;

    &:after {
      transform: rotateY(0);
    }

    &:before {
      transform: rotateY(0);
    }
  }
}
