.card {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  user-select: none;
  pointer-events: none;

  &-hidden {
    background-color: $color-primary;
    pointer-events: all;
  }

  &:hover {
    cursor: pointer;
  }
}
