.card {
  width: calc(20px + 6vmin);
  height: calc(20px + 6vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(20px + 2vmin);
  user-select: none;
  pointer-events: none;
  position: relative;
  transition: all 500ms ease;
  border-radius: 15px;

  &::after {
    content: "";
    border-radius: 15px;
    @include OverlayLayer();
  }

  &::before {
    content: "";
    border-radius: 15px;
    @include OverlayLayer();
  }

  &-hidden {
    background-color: $color-primary;
    pointer-events: all;
    transition: all 500ms ease;

    &:after {
      transform: rotateY(0);
    }

    &:before {
      transform: rotateY(0);
    }

    >.card-text {
      display: none;
      opacity: 0;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: darken($color-primary, 50%);
  }

  &:active {
    cursor: pointer;
    transform: scale(0.9);
  }
}
