html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-black;
  width: 100vw;
  min-height: 100vh;
  font-size: calc(5px + 2vmin);
  color: $color-primary;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: $font-family-monospace;
}
